<div
  class="w-full min-h-64 overflow-hidden rounded-xl shadow-2xl bg-zinc-900 border border-zinc-800"
>
  <div class="flex p-4 justify-between items-center">
    <span class="text-sm text-zinc-400 font-medium">Usuário:</span>
    <button
      title="Adicionar nova despesa"
      class="bg-sky-600 text-sky-100 hover:bg-sky-700 px-4 py-2 rounded-md text-xs font-medium transition-colors duration-200 cursor-pointer"
      routerLink="/despesas/criar"
    >
      Adicionar Despesa
    </button>
  </div>
  <table class="w-full text-left border-collapse">
    <thead class="bg-zinc-950/50">
      <tr
        class="text-zinc-400 text-xs uppercase tracking-wider font-medium border-b border-zinc-800"
      >
        <th class="p-4 font-semibold text-center">ID</th>
        <th class="p-4 font-semibold text-center">Descrição</th>
        <th class="p-4 font-semibold text-center">Data e Hora</th>
        <th class="p-4 font-semibold text-center">Status</th>
        <th class="p-4 font-semibold text-center">Valor</th>
        <th class="p-4 font-semibold text-center">Ações</th>
      </tr>
    </thead>
    <tbody class="divide-y divide-zinc-800">
      @if (listaDespesas().length === 0) {
        <tr>
          <td colspan="4" class="text-center p-8 text-zinc-500 italic">
            Nenhuma despesa cadastrada.
          </td>
        </tr>
      }
      @for (despesa of listaDespesas(); track $index) {
        <tr class="hover:bg-zinc-800/50 transition-colors duration-200 group">
          <td class="p-4 text-xs text-zinc-200 font-thin group-hover:text-white">
            {{ despesa.id }}
          </td>
          <td class="p-4 text-zinc-200 font-medium group-hover:text-white">
            {{ despesa.descricao }}
          </td>
          <td class="p-4 text-zinc-400 text-sm">
            {{ despesa.dataHora | date: 'dd/MM/yyyy' }}
          </td>
          <td class="p-4 text-center">
            <span
              class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium border"
              [class]="
                despesa.pago
                  ? 'bg-emerald-500/10 text-emerald-400 border-emerald-500/20'
                  : 'bg-rose-500/10 text-rose-400 border-rose-500/20'
              "
            >
              {{ despesa.pago ? 'Pago' : 'Pendente' }}
            </span>
          </td>
          <td class="p-4 text-right font-mono text-zinc-300 group-hover:text-white">
            {{ despesa.valor | currency: 'BRL' }}
          </td>
          <td class="p-4 text-right text-zinc-300 gap-2 flex">
            <span
              [routerLink]="['/despesas/editar', despesa.id]"
              title="Editar despesa"
              class="material-symbols-outlined bg-sky-500 text-sky-200 p-1 rounded-lg hover:bg-sky-600 hover:cursor-pointer"
              >edit</span
            >
            <span
              (click)="deleteDespesa(despesa.id)"
              title="Excluir despesa"
              class="material-symbols-outlined bg-red-500 text-red-200 p-1 rounded-lg hover:bg-red-600 hover:cursor-pointer"
              >delete</span
            >
          </td>
        </tr>
      }
    </tbody>
  </table>
  <div class="flex p-4 gap-2 justify-end items-center">
    <span class="text-sm text-zinc-400 font-medium">Total:</span>
    <span class="text-sm text-zinc-200 font-medium">{{ totalDespesas() | currency: 'BRL' }}</span>
  </div>
</div>
