@import 'tailwindcss';

.pago {
  @apply bg-emerald-500/10 text-emerald-400 border-emerald-500/20;
}
.pendente {
  @apply bg-rose-500/10 text-rose-400 border-rose-500/20;
}
.btn {
  @apply bg-sky-600 text-sky-100 px-4 py-2 rounded-md text-xs font-medium transition-colors duration-200;
}
.btn:hover {
  @apply bg-sky-700 cursor-pointer;
}
